{% extends "base/base.html" %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static "digitalarz/css/index.css" %}"/>
{% endblock %}
{% block main_contents %}
    <div id="blackout-div">
{#        <div class="container">#}
{#            <div class="row justify-content-md-center">#}
{#                <div class="col-md-6 ">#}
{#                    <button type="button" class="btn aqua-gradient btn-block">GIS</button>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
    {#    <script src="{% static "digitalarz/js/test.js" %}"></script>#}
{% endblock %}
